<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>

  <system.web>
    <pages enableViewState="false"></pages>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
 </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />
    </modules>
  </system.webServer>

  <rewriter><rewrite url="(.*)/API/Token?(.*)" to="~/API_JSON.aspx?Title_Token=$3"/> </rewriter>

</configuration>
